.dropbtn {
  background-color: #b16180;
  color: black;
  padding: 10px;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #5a0d50;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #abad86;
  box-shadow: 0px 8px 16px 0px rgba(128, 177, 108, 0.2);
}

.dropdown-content li {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown li:hover {
  background-color: rgb(120, 160, 110);
}

.show {
  display: block;
}
